body{
    background: rgb(218, 216, 216);
}

.container{
    display: flex;
    background-color: yellow;
    margin: auto;
    width: 50%;
    border: 1px solid black;
}

.container .num-btn{
    width: 80%;
    border: 1px solid black;
}

.num-btn-group{
    display: flex;
}

.num-btn-group button{
    width: 34%;
}